<div class="col-lg-6">
<h1>The first step to eliminating waste is identifying it.</h1>
<h3>Enter a new Waste Item</h3>

<%= render 'waste_items/form' %>

<br>

</div>
<div class="col-lg-6">
  <%= image_tag "bin.png", :class => "img-responsive" %>
</div>

