<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @waste_item.content %>
</p>

<%= link_to 'Edit', edit_waste_item_path(@waste_item) %> |
<%= link_to 'Back', waste_items_path %>
